@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="~/content/bootstrap.min.css" rel="stylesheet" media="screen">
	<script src="~/scripts/lib/modernizr-2.6.2.js"></script>
	<script data-main="scripts/app" src="~/scripts/lib/require.js?bust=v2"></script>
</head>
<body>
	<section id="main-content">
		@RenderBody()
	</section>
	@RenderSection("templates", false)
	@Scripts.Render("~/bundles/lib")
</body>
</html>
