<li class="row">
	<div class="span1">
		<input type="checkbox" {{#if completed}}checked="checked"{{/if}} />
	</div>
	<div class="span4">
		<input value="{{description}}" placeholder="{{#if description}}{{description}}{{else}}Task...{{/if}}" />
	</div>
</li>