<div class="span1">
	<input type="checkbox" {{#if completed}}checked="checked"{{/if}} {{#unless id}}disabled="disabled"{{/unless}}/>
</div>
<div class="span3">
	{{#if completed}}
	<span class="description"><del>{{description}}</del></span>
	{{else}}
	<input class="description" value="{{description}}" placeholder="{{#if description}}{{description}}{{else}}Todo...{{/if}}" />
	{{/if}}
</div>
<div class="span1">
	{{#if completed}}
	<i class="remove-todo icon-remove-sign icon"></i>
	{{else}}
	{{#unless id}}<i class="add-todo icon-plus-sign icon"></i>{{/unless}}
	{{/if}}
</div>