<div class="span1">
	<input type="checkbox" {{#if completed}}checked="checked"{{/if}} {{#unless id}}disabled="disabled"{{/unless}}/>
</div>
<div class="span3">
	{{#if completed}}
	<span class="description"><del>{{description}}</del></span>
	{{else}}
	<input class="description" value="{{description}}" placeholder="{{#if description}}{{description}}{{else}}Task...{{/if}}" />
	{{/if}}
</div>
<div class="span1">
	{{#if completed}}
	<i class="remove-task icon-remove-sign icon icon-white btn btn-danger"></i>
	{{else}}
	{{#unless id}}<i class="add-task icon-plus-sign icon icon-white btn btn-success"></i>{{/unless}}
	{{/if}}
</div>
