<div class="span1">
	<input type="checkbox" {{#if completed}}checked="checked"{{/if}} />
</div>
<div class="span4">
	{{#if completed}}
	<span class="description"><del>{{description}}</del></span>
	{{else}}
	<input class="description" value="{{description}}" placeholder="{{#if description}}{{description}}{{else}}Task...{{/if}}" />
	{{#unless id}}<button class="add-task">Add Task</button>{{/unless}}
	{{/if}}
</div>