<div class="row toolbar">
	<div class="span3">
		<div><label for="select-user">User:</label></div>
		<div><select id="select-user"></select></div>
	</div>
	<div class="span2">
		<button id="create-user" class="btn">Create New User</button>
	</div>
	<div class="span1">&mdash;</div>
	<div class="span2">
		<button id="save" class="btn primary" disabled="disabled">Save</button>
	</div>
</div>