<div class="navbar-inner">
	<div class="container">
		<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</a>
		<div class="nav-collapse collapse">
			<ul class="nav">
				<li>
					<select id="select-user">
						<option value="0" selected="selected">Select User...</option>
						{{#each .}}
						<option value="{{id}}">{{name}}</option>
						{{/each}}
					</select>
				</li>
				<li><a id="create-user" href="">Create New User</a></li>
			</ul>
			<div class="pull-right">
				<button id="save" class="btn btn-primary">Save</button>
			</div>
		</div>
	</div>
</div>