<div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>
<div class="row center">
	{{#if id}}
	{{#unless editing}}
	<h3 class="span3">{{name}}</h3><i id="edit-user" class="icon-edit icon-h3"></i>
	{{else}}
	<input id="user-name" placeholder="{{name}}" value="{{name}}" /><i id="update-user" class="icon-ok"></i><i id="cancel-user" class="icon-remove"></i>
	{{/unless}}
	{{else}}
	<input id="user-name" placeholder="Name..." /><i id="save-user" class="icon-plus-sign"></i>
	{{/if}}
</div>
<div class="row">&nbsp;</div>