<div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>
<div class="row center">
	{{#if id}}
	{{#unless editing}}
	<h3 class="span3">{{name}}&nbsp;&nbsp;&nbsp;&nbsp;<i id="edit-user" class="icon-edit icon"></i></h3>
	{{else}}
	<input id="user-name" placeholder="{{name}}" value="{{name}}" />&nbsp;<i id="update-user" class="icon-ok icon"></i>&nbsp;<i id="cancel-user" class="icon-remove icon"></i>
	{{/unless}}
	{{else}}
	<input id="user-name" placeholder="Name..." />&nbsp;<i id="save-user" class="icon-plus-sign icon"></i>
	{{/if}}
</div>
<div class="row">&nbsp;</div>