<div class="row">&nbsp;</div><div class="row">&nbsp;</div><div class="row">&nbsp;</div>
<div class="row center">
	{{#if id}}
	<h3 class="span3">{{name}}</h3>
	{{else}}
	<input id="user-name" placeholder="Name..." /><button id="save-user">Save User</button>
	{{/if}}
</div>
<div class="row">&nbsp;</div>